.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* display: none; */
}

.popup__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.popup__body {
  margin: auto;
  width: 430px;
  height: 330px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
}

@media (max-width: 700px) {
  .popup__body {
    width: 282px;
  }
}

.popup__close-button {
  background-color: #000000;
  background-image: url('../../images/CloseIcon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -30px;
  right: -30px;
  border: 0;
  padding: 0;
}

.popup-form {
  margin: 34px 36px 37px 36px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .popup-form {
    margin: 25px 22px 25px 22px;
  }
}

.popup__title {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 24px;
  line-height: 120.8%;
  color: #000000;
  margin: 0 0 54px 0;
}

@media (max-width: 700px) {
  .popup__title {
    font-size: 18px;
    line-height: 122;
    margin: 0 0 75px 0;
  }
}

.popup__input {
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 121.4%;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__input:focus {
  outline-color: #ffffff;
}

.popup__input:last-of-type {
  margin-bottom: 0;

}

.popup__button {
  background-color: #000000;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  padding: 14px 0 18px;
  border: 0;
  margin-top: 48px;
}

@media (max-width: 700px) {
  .popup__button {
    padding: 14px 0 14px;
    margin-top: 45px;
  }
}


