.popup__input {
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 30px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 121.4%;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  min-height: 27px;
}

.popup__input:focus {
  outline-color: #ffffff;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}
