.popup__button {
  background-color: #000000;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 121%;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 0 16px;
  border: 0;
  margin-top: 47px;
}

@media (max-width: 700px) {
  .popup__button {
    padding: 14px 0 14px;
    margin-top: 47px;
  }
}

